
.newsCard {
        box-shadow: 3px 3px 3px 3px rgba(35, 13, 9, 0.195);
        border-radius: 2;
}

.listingDetails {
    margin: 40px;
    margin-top: 10px;
}

.listingDetails img {
    margin: 15px;
}

.commentHead {
  display: flex;
  flex-direction: row;
}

.comment {
  display: flex;

}

.commentText {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.commentDiv {
  margin-top: 15px;
  box-shadow: 3px 3px 3px 3px rgba(35, 13, 9, 0.195);
}

.commentBody {
  padding: 15px;

}

.authorImg {
  margin: 0px;
  padding: 0px;
  clip-path: circle();
}

.posts {
  margin-top: 20px;
  box-shadow: 3px 3px 3px 3px rgba(35, 13, 9, 0.059);
}

.authorCard {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.authorImgDiv {
  margin: 0px;
  padding: 0px;
}



.authorText {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  padding-bottom: 0px;
  margin-top: 32px;
  
}

.authorText p {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.addDiyForm {
    margin: 30px;
    margin-top: 5px;
}

.headerText1 {
    display: flex;
    justify-content: center;
    font-family: monospace;

}

.searchBar {
 margin-left: 40px;
 margin-right: 40px;
 margin-bottom: 5px;

}

label {
  margin-top: 8px;
}


.searchInput {
    box-shadow: 5px 5px rgba(128, 128, 128, 0.081);
}


.marketplaceGroup {
    margin: 10px;
    margin-bottom: 50px;
}

.marketCard {
    margin: 25px;
    box-shadow: 7px 7px rgba(128, 128, 128, 0.081);
}

.customNav {
    background: white;
}
.customNav {
    font-weight: 700;
    /* height: 160px; */
    padding-left: 0;

}
.customNav1 {
    padding-left: 25px;
}

.description {
  text-align: left;
  font-size: 18px;
  font-weight: 50;
  text-indent: 30px;
}

.indent {
  text-indent: 30px;
}


.customBttn {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 15px 15px 15px 0px;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.customBttn:hover,
.customBttn:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

.customBttn:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.customBttn:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}



  button a {
    color: #39739d;
    text-decoration: none;
  }

header img {
    width: 100%;
    list-style: none;
}


.video-responsive {
  /* display: flex;
  flex-direction: row;
  justify-content: center; */

    overflow: hidden;
    /* padding-bottom: 56.25%; */
    
    position:sticky;
    height: 600px;
  }
  
  .video-responsive iframe {
    left: 0;
    top: 0;
    position: absolute;
  }

