
.newsCard {
  
        box-shadow: 3px 3px 3px 3px rgba(35, 13, 9, 0.059);
        border-radius: 0;
        margin: 20px;
        padding: 0px;
}

.newsCard img {
  width: 400px;
}



.listingDetails {
    margin: 40px;
    margin-top: 10px;
}



.commentText a {
  text-decoration: none;
  color: black;
}

.messageComp {
  margin-top: 15px;
  margin-bottom: 10px;
}

.carImages {
  
  width: 100rem;
 display: flex;
 /* flex-direction: row; */
 justify-content: center;

}




.row1 {
  display: flex;
  margin-right: 20px;
}

.column1 {
  flex: 33.33%;
  padding: 5px;
  margin: 0px;
}

.column1 img {
  margin: 0px;
}

.footerStyle {
  background-color: #327cb0;
  margin-top: 40px;
  height: 50px;
}

.footerBottom a {
  text-decoration: none;
  color: white;
  
}

.listingDetails img {
    margin: 15px;

}


.listingPad {
  margin: 10px;
  padding: 0px;
}



.carImg img{
  margin: 0px;

}


.carImg {
  width: 400px;

}

.noRadius {
  border-radius: 0px;
}

.authorText2 h4 {
  margin-top: 10px;
  margin-bottom: 0px;
}


.messagesList {
  box-shadow: 3px 3px 3px 3px rgba(35, 13, 9, 0.059); ;
}

.messageBttn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.messageBttn2 {
  display: flex;
  justify-content: end;
}

.mssgText p {
  margin: 0px;
}

.commentButtons {
  display: flex;
  flex-direction: row;
justify-content: end;
}

.commentHead {

  display: flex;
  flex-direction: row;

}
.noBorder {
  border: 0px;
}

.comment {
  display: flex;
flex-direction: row;
}

.card1 {
  display: flex;
  flex-direction: row;
  box-shadow: 2px 2px 2px 2px rgba(35, 13, 9, 0.059);
}

.card1 img {
  width: 25%;
  /* box-shadow: 3px 3px 3px 3px rgba(35, 13, 9, 0.059); */
}

.newsTitle {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cardText  {
  padding: 5px;
  margin: 5px;
}

.userCars {
  margin-top: 20px;
  padding: 0px;
}





.cardText1  {
  padding: 0px;
  margin: 0px;
}

.articleCard {
  margin: 0px;
  padding: 0px;
}


.commentText {
  display: flex;
  flex-direction: column;
  align-self: center;

}

.commentDiv {
  margin-top: 15px;
  box-shadow: 3px 3px 3px 3px rgba(35, 13, 9, 0.059);
  border-radius: 0px;
}

.commentBody {
  padding: 15px;

}

.profileList {
  margin-top: 20px;
}

.carImage img {
  margin: 0px;
}

.carsList {
  margin-top: 20px;
  box-shadow: 3px 3px 3px 3px rgba(35, 13, 9, 0.059);
  margin-right: 0px;
}

.authorImg {
  margin: 0px;
  padding: 0px;
  clip-path: circle();
}

.userCar {
  margin-top: 10px;
}

.noRadiusImg {
  border-radius: 0px;
}

.posts {
  margin-top: 20px;
  box-shadow: 3px 3px 3px 3px rgba(35, 13, 9, 0.059);
}

.authorCard {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.authorImgDiv {
  margin: 0px;
  padding: 0px;
}

.authorText2 h3 {
  margin: 0px
}


.authorText2 p {
  margin: 0px;
}

.authorText {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  padding-bottom: 0px;
  margin-top: 32px;
  
}

.authorText p {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.addDiyForm {
    margin: 30px;
    margin-top: 5px;
}

.headerText1 {
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.searchBar {
 margin-left: 40px;
 margin-right: 40px;
 margin-bottom: 5px;

}



label {
  margin-top: 8px;
}

.forumBttnDiv {
margin-left: 50px;
}

.forumItem {
  display: flex;
  flex-direction: column;
  /* align-items: stretch; */

}




.searchInput {
    box-shadow: 5px 5px rgba(128, 128, 128, 0.081);
}



.marketplaceGroup {
    margin: 10px;
    margin-bottom: 50px;
}

.marketCard {
    margin: 25px;
    box-shadow: 7px 7px rgba(128, 128, 128, 0.081);
}

.headerImage {
 /* margin-top:200px */
}



.bttnForum1 {
  display: flex;
  flex-direction: row;
  justify-content: end;
}





.customNav {
  background-color: white;
  
    /* font-weight: 550; */
    /* height: 160px; */
    /* padding-top: 100px; */
    /* padding-left: 0; */
    margin-top: 170;
margin-left: 30px;
margin-right:20px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.customNav1 {
    padding-left: 25px;
}


.postAuthor {
  
  padding-left: 10px;
}




.description {
  text-align: left;
  font-size: 18px;
  font-weight: 50;
  text-indent: 30px;
}

.indent {
  text-indent: 30px;
}


.customBttn {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 15px 15px 15px 0px;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.customBttn:hover,
.customBttn:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

.customBttn:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.customBttn:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}



  button a {
    color: #39739d;
    text-decoration: none;
  }

header img {
    width: 100%;
    list-style: none;
}


.video-responsive {
  /* display: flex;
  flex-direction: row;
  justify-content: center; */

    overflow: hidden;
    /* padding-bottom: 56.25%; */
    
    position:sticky;
    height: 600px;
  }
  
  .video-responsive iframe {
    left: 0;
    top: 0;
    position: absolute;
  }

